<!DOCTYPE html>
<html>
    <head>
        <title>FoodTopia</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
             <a class="navbar-brand" href="/"><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i>FoodTopia</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <!--don't forget to include auth logic in final-->
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Sign Up</a></li>
                
                    <li><a href="#">Signed In As </a> </li>
                    <li><a href="/logout">Logout</a></li>
                 
                </ul>
            </div>
        </div>
    </nav>
    