<% include ../partials/header %>

<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>Welcome to FoodTopia</h1>
    <p>View and share delicious foods from around the world!</p>
    <p>
    <a class="btn btn-primary btn-large" href="*">Click here to start sharing!</a>
    </p>
    </div>
</header>




<% include ../partials/footer %>